# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


# Large Raw binaries
data/raw/*.pdf

# Node & Frontend
frontend/node_modules/

# Environments
venv/
.venv/
.env


# OS files
Thumbs.db
.DS_Store

