# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large Raw binaries
data/raw/*.pdf

# Node & Frontend
frontend/node_modules/

# Environments
venv/
.env

# OS files
Thumbs.db
.DS_Store

